@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 0% 95%;
    --foreground: 28 0% 0%;
    --card: 28 0% 90%;
    --card-foreground: 28 0% 10%;
    --popover: 28 0% 95%;
    --popover-foreground: 28 95% 0%;
    --primary: 28 100% 50.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -10 10% 85%;
    --muted-foreground: 28 0% 35%;
    --accent: -10 10% 80%;
    --accent-foreground: 28 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 28 0% 90%;
    --border: 28 20% 50%;
    --input: 28 20% 18%;
    --ring: 28 100% 50.2%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 28 10% 5%;
    --foreground: 28 0% 90%;
    --card: 28 0% 0%;
    --card-foreground: 28 0% 90%;
    --popover: 28 10% 5%;
    --popover-foreground: 28 0% 90%;
    --primary: 28 100% 50.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -10 10% 15%;
    --muted-foreground: 28 0% 60%;
    --accent: -10 10% 15%;
    --accent-foreground: 28 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 28 0% 90%;
    --border: 28 20% 18%;
    --input: 28 20% 18%;
    --ring: 28 100% 50.2%;
    --radius: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .layout-wrapper {
    @apply max-w-[80rem]  mx-auto px-4;
  }
}
